* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto.ttf");
}
body {
    font-family: Roboto;
    background-color: #e9f2fa;
}
.css {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: rgb(97, 97, 194);
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}
.center-cont {
    width: 100%;
    max-width: 1140px;
    padding: 0 30px;
    margin: 0 auto;
}
/* header */
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px 0;
}
.header-inner {
    display: flex;
    justify-content: space-between;
}
.header-inner a {
    color: white;
    text-decoration: none;
}
.header-inner .logo {
    font-size: 26px;
}
header .menu {
    list-style: none;
}
header .menu li {
    display: inline-block;
    padding: 0 20px;
    height: 32px;
    line-height: 32px;
}
header .menu li a {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
/* cover */
.cover {
    width: 100%;
    height: 735px;
    background-image: url("../img/cover.jpeg");
    background-position: center;
}
.cover-cont {
    height: 100%;
    display: flex;
    align-items: center;
}
.cover-text {
    max-width: 400px;
    color: white;
}
.cover-text h1 {
    font-size: 90px;
}
.cover-text p {
    font-size: 20px;
    line-height: 32px;
    margin: 25px 0 30px;
}
.cover-text .btn {
    display: inline-block;
    padding: 16px 28px;
    font-size: 16px;
    background-image: linear-gradient(135deg, rgb(71, 138, 201), rgb(36, 217, 234));
    border-radius: 8px;
}
    
/* places */

.places {
    padding: 60px 0;
}

.places > h1, .places > p {
    text-align: center;
    letter-spacing: 1px;
}

.places > h1 {
    color: #478ac9;
}

.places > p {
    margin: 30px 0 90px;
    color: #4c7397;
    font-size: 18px;
}

.places-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.place-card img {
    vertical-align: middle;
}

.place-card > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.place-bottom {
    background-color: #fff;
    padding: 20px 10px;
}

.place-bottom img {
    width: 30px;
    filter: invert(74%) sepia(7%) saturate(12%) hue-rotate(343deg) brightness(104%) contrast(92%);
}

.place-bottom i {
    color: #111111;
}